/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss ***!
  \**************************************************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  color: rgb(38, 7, 66);
  margin: 10px 0;
}

.text {
  margin: 10px 0;
  font-size: 20px;
}

.out {
  font-size: 20px;
  resize: none;
  padding: 10px;
}

.keyboard {
  width: 900px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(44, 44, 73);
  border-radius: 60px 20px 20px 20px;
  color: aliceblue;
}

.keyboard__row {
  display: flex;
  gap: 10px;
}

.key {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(7, 78, 136);
  border-style: solid;
  border-color: aquamarine;
  border-radius: 5px;
  box-shadow: 5px 5px rgb(2, 131, 88);
  transition: all 0.3s;
}
.key:hover {
  color: red;
}
.key > .sub {
  display: none;
}
.key_pressed {
  transform: translate(2px, 2px);
  box-shadow: 3px 3px rgb(2, 131, 88);
}
.key_shift .sub {
  display: block;
}
.key_shift .letter {
  display: none;
}

.fn {
  background: rgb(1, 32, 58);
}
.fn.caps__aktive {
  background: rgb(26, 237, 57);
}

.Backspace {
  width: 115px;
}

.Delete {
  width: 60px;
}

.CapsLock, .Enter, .Shift {
  width: 110px;
}

.Ctrl, .Win, .Alt {
  width: 50px;
}

.Space {
  width: 370px;
}

.caps__pressed .letter .sub {
  display: block;
}
.caps__pressed .letter .letter {
  display: none;
}
.caps__pressed .letter.key_shift .sub {
  display: none;
}
.caps__pressed .letter.key_shift .letter {
  display: block;
}
