.key {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(7, 78, 136);
    border-style: solid;
    border-color: aquamarine;
    border-radius: 5px;
    box-shadow: 5px 5px rgb(2, 131, 88);
    transition: all .3s;
    &:hover {
        color: red;
    }

    &>.sub {
        display: none;
    }

    &_pressed {
        transform: translate(2px, 2px);
        box-shadow: 3px 3px rgb(2, 131, 88);
    }

    &_shift {
        .sub {
            display: block;
        }
        .letter {
            display: none;
        }
    }
}

.fn {
    background: rgb(1, 32, 58);
    &.caps__aktive {
    background: rgb(26, 237, 57);
}
}



.Backspace {
    width: 115px;
    }

.Delete {
    width: 60px;
}

.CapsLock, .Enter, .Shift {
    width: 110px;
}

.Ctrl, .Win, .Alt {
    width: 50px;
} 

.Space {
    width: 370px;
}

.caps__pressed .letter {
    .sub {
        display: block;
    }
    .letter {
        display: none;
    }

    &.key_shift {
        .sub {
            display: none;
        }
        .letter {
            display: block;
        } 
    }
}
